{% extends 'base.html' %}
{% block content %}

<div class="container">
    <!-- upper section of heading -->

    <div class="container mt-3">
        <div class="col-12 alert alert-success text-center">
            <i class="fas fa-cart-arrow-down mr-5"></i>   My Orders  <i class="fas fa-cart-arrow-down ml-5"></i>
        </div>
    </div>
    
    
   
    
    <!-- Section of orders and payment -->
    {% for product_info in product_info %}
    
        {% for payment_info in payment_info %}

            
            <div class="row mt-4">

                <div class="col-1"></div>
                <!-- Product info -->
        
                <div class="col-5 text-center alert alert-info mr-3">
                    Product Details <hr>
                    <p>
                        <li class='mt-1 text-left'>Name:- {{product_info.Name}}</li>
                        <li class='mt-1 text-left'>Author:- {{product_info.author}}</li> 
                        <li class='mt-1 text-left'>Edition:- {{product_info.edition}}</li>
                        <li class='mt-1 text-left'>Publisher:- {{product_info.publisher}}</li>  
                        <li class='mt-1 text-left'>Language:- {{product_info.book_language}}</li>
                        <li class='mt-1 text-left'>Pages:- {{product_info.pages}}</li>
                        <li class='my-1 text-left'>Description: {{product_info.descreption}}</li>     
                    </p>
                </div>

                 <!-- Payment info -->
                <div class="ml-1 text-center col-5 alert alert-warning">
                    Payment Details <hr>
                    <p>
                        <li class='mt-1 text-left'>Name:- {{payment_info.name}}</li>  
                        <li class='mt-1 text-left'>Address:- {{payment_info.address}}</li>
                        <li class='mt-1 text-left'>City:- {{payment_info.city}}</li>  
                        <li class='mt-1 text-left'>State:- {{payment_info.state}}</li>
                        <li class='mt-1 text-left'>Zipcode:- {{payment_info.zipcode}}</li>
                        <li class='mt-1 text-left'>Phone:- {{payment_info.phone}}</li>
                        <li class='my-1 text-left'>Payment Option: {{payment_info.payment_type}}</li>
                    </p>
                    <a href="{% url 'delete_product' payment_info.id %}" class='btn btn-outline-danger'>Cancel</a>
                </div>
        
                 <div class="col-1"></div>

            </div>
            
   
        {% endfor %}
      
    {% endfor %}
    
</div>





{% endblock content %}




<!-- {% for payment_info in payment_info %}
    {{payment_info.name}}:-| {% for product_info in product_info %}
                                {{product_info.Name}}<br>
                             {% endfor %}
{% endfor %} -->